<div class="admin-sidebar">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="shop logo" />
  </div>

  <div class="links">
    <ul>
      <li>
        <a routerLink="/dashboard" class="flex align-items-start gap-2">
          <lucide-icon name="layout-dashboard" [size]="20" color="#ffffff"></lucide-icon>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/products" class="flex align-items-start gap-2">
          <lucide-icon name="package-search" [size]="20" color="#ffffff"></lucide-icon>
          Products
        </a>
      </li>
      <li>
        <a routerLink="/categories" class="flex align-items-start gap-2">
          <lucide-icon name="list" [size]="20" color="#ffffff"></lucide-icon>
          Categories
        </a>
      </li>
      <li>
        <a routerLink="/order" class="flex align-items-start gap-2">
          <lucide-icon name="shopping-cart" [size]="20" color="#ffffff"></lucide-icon>
          Orders
        </a>
      </li>
      <li>
        <a routerLink="/users" class="flex align-items-start gap-2">
          <lucide-icon name="user" [size]="20" color="#ffffff"></lucide-icon>
          Users
        </a>
      </li>
      <li>
        <a routerLink="/logout" class="flex align-items-start gap-2">
          <lucide-icon name="user" [size]="20" color="#ffffff"></lucide-icon>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
